body {
    background-color: #131618;
    color: white;
}

nav {
    background-color: #131618;
    color: white;
    font-weight: 100;
}
nav a {
    color: white;
    margin-right: 30px;
}

nav a:hover {
    color: #00ffb0;
}

.landingPage {
    padding-bottom: 50px;
}

#MainLogo {
    background-color: #131618;
    display: block;
    margin: auto;
    margin-top: 100px;
}

#LandingText {
    margin:auto;
    margin-top: 50px;    
}

.landingPage {
    text-align: center;
}

.PageTitle {
    font-weight: 100;
    text-align: center;
    padding-top: 50px;
}

.AboutUs {
    color: black;
    background-color: #e6e6e6;
}

#AboutUsPics {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

#AboutUsContent {
    text-align: left;
    margin-top: -35px;
    padding-bottom: 50px;
}

#AboutUsContent h3 {
    margin-bottom: 35px;
    text-align: center;
}

#AboutUsContent ul {
    margin-left: -40px;
    text-align: left;
}

#AboutUsContent a {
    color: black;
}

#AboutUsContent a:hover {
    color: #00ffb0;
    text-decoration: none;
}

#BatterUpLogo {
    width: 25%;
    display: block;
    margin: auto;
    margin-top: 100px;
}

#Trailers {
    margin-top: 100px;
    margin-bottom: 100px;
}

.Games h3 {
    margin-top: 25px;
    text-align: center;
    font-weight: 100;
}

.Games p {
    margin-top: -75px;
}

.Games a {
    color: white;
    text-align: center;
}

.Games a:hover {
    color: #00ffb0;
    text-decoration: none;
}

#Logo {
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.Contact {
    color: black;
    background-color: #e6e6e6; 
    padding-top: 25px;
    margin-top: 25px;
}

.Contact h3 {
    padding-top: 15px;
    margin-bottom: 15px;
    font-weight: 100;
}

#ContactLogo {
    width: 10%;
    margin: auto;
    margin-top: -130px;
    margin-left: 1060px;
}

.Contact #contactInfo {
    margin-top: -15px;
}

.Contact a {
    color: black;
}

.Contact a:hover {
    color: #00ffb0;
    text-decoration: none;
}